.reveal h1 {
    font-size:6em;
}

.reveal h1 > .sub-heading {
    display:block;
    font-size:60%;
}

.reveal h2 {
    font-size:3.8em;
}

.reveal h3 {
    font-size:2em;
    margin: 25px 0 0 0;
}

.reveal section img {
    background:none;
    border:none;
    box-shadow: none;
}

.reveal .slide-align-left {
    text-align: left;
}

.reveal .large-text {
    font-size: 4em;
    line-height: 100%;
}

.reveal .medium-text {
    font-size: 2.4em;
    line-height: 100%;
}

.reveal .dark-blue,
.reveal a.dark-blue {
    color: #24859f;
    text-shadow: none;
}

.reveal .dark-grey {
    color:#333;
}

.reveal .tag .dark-grey {
    color:#666;
}

#band-aid {
    background: url('../img/band-aid.png') no-repeat;
    height: 256px;
    left: 65px;
    position: absolute;
    top: 145px;
    width: 712px;
    transform: rotate(30deg);
    left:50%;
    margin-left:-45%;
    padding:5px;
    text-align: center;

}

.reveal .light-blue,
.reveal table thead.light-blue{
    color: #94cddd !important;
    text-shadow: none;
}

.reveal .bold {
    font-weight: bold;
}

.reveal pre {
    box-shadow: none;
    width:100%;
}

.reveal blockquote {
    box-shadow: none;
    width:100%;
    font-style: normal;

}

.reveal blockquote em {
    color: #24859f;
}

.reveal pre.medium-text{
    font-size:1.1em;
}

.reveal pre.small-text,
.reveal .small-text{
    font-size:.8em;
}

.reveal pre code {
    background:none;
    color:#222;
    max-height: none;
}

.reveal pre.wide code {
    margin: 0 -170px;
}

.reveal pre .string {
    color:darkred;
}

.reveal pre .number {
    color:#01bbc0;
}

.reveal pre .comment {
    color:green;
}

.reveal pre .keyword, .keyword {
    color:#0000ff;
}

.reveal pre .tag, .tag {
    color:#aaa;
}

.reveal .highlight pre .tag {
    background:rgba(255,255,0,.2);
}

.reveal pre .tag .title, .tag .title {
    color: #01bbc0;
}

.reveal pre .tag .attribute, .tag .attribute {
    color: #0000ff;
}

.reveal pre .tag .value, .tag .value {
    color: #008000;
}

.reveal pre.highlighted {
    border:solid 2px #01bbc0;
    border-radius: 10px;
    padding:10px;
    margin:-11px;
    box-shadow: 2px 2px 2px #ccc;
}

#bad-html {
    font-family: 'Sarpanch', sans-serif;
    transform: rotate(30deg);
    position:absolute;
    top:150px;
    left:50%;
    margin-left:-45%;
    color:red;
    border:solid 1px red;
    padding:5px;
    opacity:.70;
}

#done-right {
    font-family: 'Permanent Marker', cursive;
    transform: rotate(-30deg);
    position:absolute;
    top:120px;
    left:70%;
    margin-left:-45%;
    color:red;
    font-size:2.5em;
    opacity:.70;
}

.reveal ul.plain-list {
    list-style-type: none;
}

.reveal ul.two-col li:nth-child(2n+1) {
    clear: both;
}
.reveal ul.two-col li {
    float: left;
    padding: 2px;
}

#semantic-elements {
    border-radius: 20px;
    font-family: courier;
    padding: 20px;
    text-shadow: 2px 2px #000;
}

button {
    background: #009393;
    border: solid 4px transparent;
    border-radius: 20px;
    box-shadow: 3px 3px 4px #bbb;
    color: #fff;
    padding: 5px 20px;
    margin: 10px 0 20px;
}

button:focus, button:hover {
    outline:0;
    border:solid 4px orange;
    box-shadow: 3px 3px 4px orange;
}

.offscreen {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden!important;
}

.reveal .yes {color:green;}
.reveal .no {color:red;}

.reveal table td, .reveal table th[scope="col"]  {
    text-align: center;
}

.reveal table#roles td, .reveal table#roles th[scope="col"]  {
    text-align: left;
}

.reveal table th[scope="col"] {
    width:33%;
}

.reveal table th[scope="row"] img {
    height:.8em;
    margin: 0;
}

.reveal i.fa {
    border:none;
    font-style:normal;
    font-family: FontAwesome;
}

.reveal i.fa-volume-up {
    background: #24859f;
    display: inline-block;
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
    margin: 20px 0 10px 0;
    padding: 10px;
}


.reveal table thead td {
    text-align: left;
    padding-bottom:10px;
    background: #eee;
    padding: 10px;
}

.abs-right-top {
    position: absolute;
    right: 150px;
    top: 100px;
}

.abs-right-top-0 {
    position: absolute;
    right: 0;
    top: 100px;
}

.reveal img.centered { margin: 0 auto;display:block;}


h1 {
    margin-bottom: 10px;
    font-family:Helvetica;
    font-weight:normal;
}

#tabs.ui-widget-content,
#tabs .ui-widget-header{
    background: none;
}


#tabs {
    border:solid 1px #999;
}

#tabs table {
    margin:10px;
}

#tabs td, #tabs th {
    padding:7px;
}

#tabs td {
    text-align: left;
}

#tabs .ui-tabs-nav {
    background: #ddd;
    border:solid 1px #999;
    margin:5px 5px 0 5px;
}

#tabs .ui-tabs-panel {
    padding: 0.3em 1.4em;
}

#tabs th {
    background:#eee;
    text-align:right;
    font-weight: normal;
}

#tabs .ui-state-active a {
    color:#fff !important;

}

#tabs .ui-state-active {
    background:#3875D7 !important;
    color:#fff !important;
}

#tabs .ui-state-hover {
    background: #efefef;
    color: #3875D7;
    border-color: #999;
}


#tabs .ui-state-hover a {
    color: #3875D7;
}